* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  background-color: #001524;
  color: #E8EDDF;
}

ul li {
  list-style: none;
}

button {
  padding: 0.65rem;
  text-transform: none;
  font-size: 1rem;
  border-radius: 3px;
}

.header {
  position: relative;
}

.hero-header-container img {
  max-height: 1100px;
}

.hero-header-container h1 {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}

.hero-header-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  opacity: .3;
}

.hero-header-container .image-fade:before {
  content: '';
  background-image: -webkit-gradient(linear, left bottom, left top, from(#001524), to(rgba(239, 239, 239, 0)));
  background-image: linear-gradient(to top, #001524, rgba(239, 239, 239, 0));
  position: absolute;
  height: 1000px;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-header-container .image-fade:after {
  content: '';
  display: block;
}

.image-fade img {
  width: auto;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.hero-content {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 13rem;
  padding: 1.4rem;
}

.hero-text {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

.hero-text span {
  color: #F5CB5C;
}

.hero-text h1 {
  text-transform: uppercase;
  font-size: 2.4em;
  font-family: "Montserrat", sans-serif;
  color: #E8EDDF;
}

.hero-text p {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.2em;
  color: #CFDBD5;
}

.hero-text button {
  margin-top: 3rem;
  width: 220px;
  padding: .9rem;
  background: none;
  border: 2px solid #F5CB5C;
  color: #E8EDDF;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
}

.hero-text button:hover,
.hero-text button:focus {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-box-shadow: 0 0.6em 0.6em -0.4em #F5CB5C;
          box-shadow: 0 0.6em 0.6em -0.4em #F5CB5C;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  background: rgba(204, 184, 0, 0.9);
}

.hero-png img {
  width: 120%;
  margin-left: -2rem;
  opacity: .8;
}

.hero-png {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  margin-top: -2rem;
}

.hero-buttons button:last-of-type {
  background: rgba(204, 184, 0, 0.9);
}

.hero-buttons button:last-of-type {
  margin-left: 1.5rem;
}

.hero-buttons button:first-of-type:hover {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-box-shadow: 0 0.6em 0.6em -0.4em #F5CB5C;
          box-shadow: 0 0.6em 0.6em -0.4em #F5CB5C;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  background: none;
}

.current {
  opacity: .8;
}

.featured-products-header {
  max-width: 1100px;
  margin: 12rem auto 4rem auto;
  margin-top: 12rem;
  position: relative;
  text-align: center;
}

.products-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  max-width: 1100px;
  margin: auto;
  justify-items: center;
}

.product-card {
  height: 400px;
  width: 300px;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
  cursor: pointer;
  border-radius: 2px;
}

.product-card:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.grid-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.product-card:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 39, 59, 0.26)), to(#090220)), url(/images/gold.jpg);
  background-image: linear-gradient(rgba(48, 39, 59, 0.26), #090220), url(/images/gold.jpg);
}

.product-card:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 39, 59, 0.26)), to(#090220)), url(/images/magetower.jpg);
  background-image: linear-gradient(rgba(48, 39, 59, 0.26), #090220), url(/images/magetower.jpg);
}

.product-card:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 39, 59, 0.26)), to(#090220)), url(/images/ssc_tk.jpg);
  background-image: linear-gradient(rgba(48, 39, 59, 0.26), #090220), url(/images/ssc_tk.jpg);
}

.product-card:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 39, 59, 0.26)), to(#090220)), url(/images/arena.jpg);
  background-image: linear-gradient(rgba(48, 39, 59, 0.26), #090220), url(/images/arena.jpg);
}

.product-card:nth-child(5) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 39, 59, 0.26)), to(#090220)), url(/images/tbcarena.jpg);
  background-image: linear-gradient(rgba(48, 39, 59, 0.26), #090220), url(/images/tbcarena.jpg);
}

.product-card:nth-child(6) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 39, 59, 0.26)), to(#090220)), url(/images/seasonofmastery.jpg);
  background-image: linear-gradient(rgba(48, 39, 59, 0.26), #090220), url(/images/seasonofmastery.jpg);
}

.product-card:nth-child(7) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 39, 59, 0.26)), to(#090220)), url(/images/choreghast.jpg);
  background-image: linear-gradient(rgba(48, 39, 59, 0.26), #090220), url(/images/choreghast.jpg);
}

.product-card:nth-child(8) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 39, 59, 0.26)), to(#090220)), url(/images/m.png);
  background-image: linear-gradient(rgba(48, 39, 59, 0.26), #090220), url(/images/m.png);
}

.product-card:nth-child(9) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 39, 59, 0.26)), to(#090220)), url(/images/sanctum_2.jpg);
  background-image: linear-gradient(rgba(48, 39, 59, 0.26), #090220), url(/images/sanctum_2.jpg);
}

.product-card:nth-child(10) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 39, 59, 0.26)), to(#090220)), url(/images/castle_nathria.jpg);
  background-image: linear-gradient(rgba(48, 39, 59, 0.26), #090220), url(/images/castle_nathria.jpg);
}

.product-card:nth-child(11) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 39, 59, 0.26)), to(#090220)), url(/images/voidtalon.jpg);
  background-image: linear-gradient(rgba(48, 39, 59, 0.26), #090220), url(/images/voidtalon.jpg);
}

.product-card p {
  margin: 1rem 0;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.product-card button {
  background: -webkit-gradient(linear, left top, left bottom, from(#F5CB5C), to(rgba(109, 97, 48, 0.89)));
  background: linear-gradient(#F5CB5C, rgba(109, 97, 48, 0.89));
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.product-card h3 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.product-card span {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  color: #CFDBD5;
}

.background-wrapper {
  position: relative;
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10rem auto;
}

.background-wrapper::before {
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(/images/header.jfif);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/header.jfif);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.login-page-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page-wrapper::before {
  content: '';
  background-image: url(/images/wp5477469-world-of-warcraft-shadowlands-wallpapers.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.login-container {
  position: relative;
  padding: 4rem 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 39, 59, 0.29)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(rgba(48, 39, 59, 0.29), rgba(0, 0, 0, 0.4));
  width: 450px;
  border-radius: 5px;
  -webkit-box-shadow: 7px 7px 60px black;
          box-shadow: 7px 7px 60px black;
}

.login-container h1 {
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  margin-bottom: 2rem;
}

.input-container input {
  width: 100%;
  display: block;
  padding: 0.7rem;
  border: none;
  outline: none;
  margin: .5rem 0;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.808);
  border-radius: 3px;
}

.input-container input:focus {
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  outline: 1px solid #ffd60a;
  -webkit-box-shadow: 0 0 8px #ffd60a;
          box-shadow: 0 0 8px #ffd60a;
}

.input-container button {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 500;
  width: 100%;
  margin-top: 1.5rem;
  background: #F5CB5C;
  letter-spacing: 1px;
}

.input-container button:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

form span {
  opacity: .8;
}

span input {
  margin-top: .5rem;
}

form label {
  font-size: 1.3em;
}

.message {
  padding: .7rem .2rem;
  text-align: center;
  background-color: #bc4749;
  border-radius: 2px;
  font-weight: bold;
}

.product-detail-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 1000px;
}

.product-detail-container h1 {
  padding-left: 1rem;
  margin-top: 5rem;
  margin-left: 2rem;
}

.product-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  margin: 0 2rem;
}

.product-image {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: rgba(20, 19, 19, 0.561);
}

.product-image img {
  width: 100%;
  height: 420px;
}

.product-choices {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(20, 19, 19, 0.561);
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.product-choices h4 {
  text-align: center;
  margin-top: .8rem;
  margin-bottom: .9rem;
}

.product-description {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: rgba(20, 19, 19, 0.561);
  padding: 1.5rem;
}

.product-description h4 {
  margin-bottom: 1.2rem;
}

.product-description p {
  line-height: 2;
}

.horde .alliance, img {
  width: 60px;
}

.faction-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.alliance, .horde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-choices button {
  width: 70%;
  margin-top: 2rem;
  background: rgba(204, 184, 0, 0.9);
  border: 2px solid #F5CB5C;
  color: #E8EDDF;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 1.3em;
  font-weight: bold;
}

select {
  padding: .5rem;
  display: block;
  margin-top: 2rem;
  width: 70%;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.product-choices input {
  padding: .6rem;
  width: 70%;
  margin-top: 2rem;
  border-radius: 2px;
}

#shopping-cart {
  max-width: 35rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 39, 59, 0.29)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(rgba(48, 39, 59, 0.29), rgba(0, 0, 0, 0.4));
  padding: 1rem 2rem;
  margin: 5rem auto;
  border-radius: 2px;
}

#shopping-cart .cart-item {
  position: relative;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  border-bottom: 2px solid #ffffff80;
}

#shopping-cart h3 {
  text-align: center;
  font-size: 1.8em;
  padding: .5rem;
  font-family: "Montserrat", sans-serif;
}

#shopping-cart .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: #E8EDDF;
}

#shopping-cart .cart-item .fa-times:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #F5CB5C;
}

#shopping-cart .cart-item img {
  height: 6rem;
  width: 120px;
  background-color: black;
}

#shopping-cart .cart-item .cart-content h4 {
  font-size: 1.4em;
  color: #E8EDDF;
  padding-bottom: .5rem;
}

#shopping-cart .cart-item .cart-content .price {
  font-size: 1.2em;
  color: grey;
  padding-bottom: .5rem;
}

.cart-content a {
  color: #124d96;
}

.indicator {
  margin: auto;
}

.reviews-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.reviews-section h2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 5rem;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.review-container {
  -ms-grid-row: 2;
  grid-row: 2;
  margin-top: -3rem;
  padding: 0 1rem;
}

.review {
  text-align: center;
  max-width: 400px;
  position: relative;
  padding: 2rem 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.review img:last-of-type {
  width: 40%;
}

.review img {
  margin: 1rem 0;
  height: 100px;
}

.review p {
  color: rgba(255, 255, 255, 0.708);
  padding: 1rem 0;
}

.search-container {
  max-width: 1200px;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-container input {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 7px 15px 7px 15px;
  width: 300px;
  border-radius: 2px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.763);
  font-size: 1.2em;
}

.search-container input:focus {
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  outline: 1px solid #F5CB5C;
  -webkit-box-shadow: 0 0 8px #F5CB5C;
          box-shadow: 0 0 8px #F5CB5C;
}

.search-container .fa-search {
  margin-right: -20px;
  position: relative;
}

.search-container .svg-inline--fa {
  color: black;
  height: auto;
}

.admin-panel-container {
  margin: 3rem auto;
  max-width: 800px;
  border-radius: 2px;
  padding-bottom: 3rem;
}

.admin-user {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-user img {
  border-radius: 30%;
  margin-right: 1.5rem;
  border: 4px solid #001524;
  padding: 10px;
  width: 100px;
}

.admin-panel-row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -2.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-bottom: 1px solid #ffffff80;
}

.admin-form {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 39, 59, 0.29)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(rgba(48, 39, 59, 0.29), rgba(0, 0, 0, 0.4));
  height: 450px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  margin: auto;
  text-align: center;
  padding: 1rem 0;
  overflow: hidden;
  margin-top: 3rem;
  border-radius: 3px;
  max-width: 300px;
}

.cart-admin {
  background-color: #001524;
}

.admin-form button {
  background: #F5CB5C;
  letter-spacing: 1px;
}

.admin-form span {
  padding: 0 .5rem;
  cursor: pointer;
  width: 100px;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
}

.form-buttons {
  display: inline-block;
}

.admin-form form {
  max-width: 300px;
  position: absolute;
  padding: 0 1.5rem;
  top: 130px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#update-form input, #make-form input, textarea {
  width: 100%;
  height: 30px;
  margin: .5rem 0;
  padding: 0 0.5rem;
  border: 1px solid #ccc;
}

.form-btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 0.8rem 0;
}

#make-form {
  left: -300px;
}

#update-form {
  left: 0;
}

#indicator {
  width: 100px;
  border: none;
  background-color: #F5CB5C;
  height: 3px;
  margin-top: 8px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.logout-wrap {
  text-align: right;
  margin: 1rem 1rem 0 0;
}

.logout {
  background: none;
  color: #E8EDDF;
  cursor: pointer;
}

.message {
  margin-bottom: .5rem;
}

.hide {
  display: none;
}

h4 {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.4em;
}

h3 {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.6em;
  color: #E8EDDF;
  text-transform: capitalize;
  letter-spacing: 1px;
}

p {
  font-size: 1em;
  color: #CFDBD5;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  color: white;
}

@font-face {
  font-family: wow;
  src: url(/fonts/LifeCraft_Font.ttf);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.header-wrapper {
  border-bottom: 1px solid #ffffff80;
}

.logo span {
  font-family: wow;
  font-size: 0.8em;
  margin: 0;
}

.header .logo {
  padding: 1.2rem 20px;
  font-family: wow;
  color: white;
  font-size: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1px;
}

.navigation a {
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #E8EDDF;
  margin: 0 1rem;
}

.navigation a:hover {
  padding-bottom: .5rem;
  color: #F5CB5C;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation-icons {
  padding-right: 10px;
}

.header .navigation-icons {
  color: #E8EDDF;
  cursor: pointer;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons {
  padding: 10px;
}

#search-icon, #cart-icon, #user-icon, #menu-icon {
  margin: auto 4px;
}

.icons:hover {
  color: #F5CB5C;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.menu-icon {
  display: none;
}

.fa, .fas {
  color: #E8EDDF;
}

.toggle-button {
  position: absolute;
  top: 2.6rem;
  right: 1.5rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 22px;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: #E8EDDF;
  border-radius: 5px;
}

footer {
  position: relative;
  margin-top: 10rem;
  padding: 1rem 0;
}

.footer-row-1 {
  padding-bottom: 2rem;
  border-top: 1px solid #ffffff80;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
  padding: 0 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-menu div {
  padding: 0 1rem;
}

.footer-menu h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #CFDBD5;
  padding: 1rem 0;
  margin: 0.4rem 0;
}

.footer-menu ul li {
  margin: 0.6rem 0;
}

.footer-menu ul li a {
  color: #ffffff80;
}

span {
  margin-right: 1rem;
}

.socials span, .contact-menu span {
  font-size: 1.5rem;
}

.wow-font, .wow-font span {
  font-family: wow;
}

.copyright-section h4 {
  color: #E8EDDF;
  letter-spacing: 3px;
  opacity: 0.6;
}

.wow-font span {
  margin: 0;
  padding: 0.3rem;
}

.wow-font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.copyright-section p {
  max-width: 200px;
  opacity: 0.6;
  padding: 0 1rem;
}

@media (max-width: 1380px) {
  html {
    font-size: 95%;
  }
  .hero-png img {
    width: 100%;
  }
  .hero-png {
    margin-top: 0;
  }
  .hero-content {
    margin-top: 11rem;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 90%;
  }
  .hero-content {
    margin-top: 9rem;
  }
  .hero-text button {
    width: 200px;
    padding: .6rem;
  }
}

@media (max-width: 1200px) {
  .hero-content {
    margin-top: 5rem;
  }
  html {
    font-size: 87%;
  }
  .hero-header-container .image-fade:before {
    height: 800px;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 85%;
  }
  .hero-png img {
    margin-left: 0;
  }
  .hero-header-container .image-fade:before {
    height: 600px;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 80%;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .navigation-icons {
    display: none;
    position: absolute;
    top: 1.65rem;
    right: 5rem;
  }
  .navigation {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navigation.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 2.5rem;
  }
  .header .navigation-icons.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
  }
  .active-header {
    background: #020d20;
  }
  .header .navigation a {
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .products-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .fa-bars, .fa-shopping-cart, .fa-user {
    position: relative;
  }
}

@media (max-width: 920px) {
  .hero-buttons button:last-of-type {
    margin-left: 0;
  }
  .hero-text button {
    margin-top: 1rem;
  }
  .image-fade img {
    height: 500px;
  }
}

@media (max-width: 840px) {
  .hero-png {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/9;
  }
  .hero-text {
    font-size: 85%;
  }
  .hero-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-menu div {
    margin: 0 1.5rem;
  }
  .hero-header-container .image-fade:before {
    height: 400px;
  }
  .product-card {
    margin: 0 1rem;
  }
  .products-container {
    grid-gap: 3rem;
  }
}

@media (max-width: 720px) {
  .hero-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  .products-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .product-choices {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  .product-grid .product-image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .product-image img {
    height: 300px;
  }
  .product-description {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .product-grid {
    max-width: 500px;
    margin: auto;
  }
  .product-detail-container h1 {
    margin: auto;
    padding: 0;
    text-align: left;
    max-width: 500px;
    padding: 1rem;
    margin-top: 2rem;
  }
  .navigation-icons .fa, .fas {
    font-size: 1.3em;
  }
}

@media (max-width: 620px) {
  html {
    font-size: 75%;
  }
  .hero-png {
    display: none;
  }
  .hero-text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
    text-align: center;
  }
  .hero-buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-content {
    margin-top: 3rem;
  }
  .footer-menu div {
    margin: 0 1rem;
  }
  .copyright-section p {
    margin: auto;
  }
  .footer-menu h4 {
    padding-bottom: .5rem;
  }
  .login-container {
    margin: 0 1.5rem;
  }
}

@media (max-width: 470px) {
  .hero-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
  .footer-menu div, .footer-menu ul {
    margin: 0 .5rem;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
  .copyright-section p {
    margin-bottom: 1rem;
  }
  #shopping-cart {
    margin: 5rem 1.5rem;
  }
  #shopping-cart .cart-item .fa-times {
    right: 0;
  }
  .admin-user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .admin-panel-row-1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 390px) {
  #shopping-cart .cart-item .fa-times {
    right: -10%;
  }
}
/*# sourceMappingURL=style.css.map */