footer{
    position: relative;
    margin-top: 10rem;
    padding: 1rem 0;
}
.footer-row-1{
 padding-bottom: 2rem;
    border-top: 1px solid $thinGrayColor;
}

.footer-menu{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    height: 300px;
    padding: 0 1.5rem;
    align-items: center;
}
.footer-menu div{
    padding: 0 1rem;
}

.footer-menu h4{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $smallHeaderColor;
    padding: 1rem 0;
    margin: 0.4rem 0;
}

.footer-menu ul li{
    margin: 0.6rem 0;
}
.footer-menu ul li a{
    color: $thinGrayColor;
}
span{
    margin-right: 1rem;
}
.socials span, .contact-menu span{
    font-size: 1.5rem;
}

.wow-font, .wow-font span{
    font-family: wow;
}
.copyright-section h4{
    color: $textColor;
    letter-spacing: 3px;
    opacity: 0.6;
}
.wow-font span{
    margin: 0;
    padding: 0.3rem;
}
.wow-font{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.copyright-section p{
    max-width: 200px;
    opacity: 0.6;
    padding: 0 1rem;
}