@media (max-width: 1380px) {
    html{
        font-size: 95%;
    }
    
    .hero-png img{
        width: 100%;
    }
    .hero-png{
        margin-top: 0;
    }
    .hero-content{
        margin-top: 11rem;
    }
}






@media (max-width: 1300px) {
    html{
        font-size: 90%;
    }
    .hero-content{
        margin-top: 9rem;
    }
    .hero-text button{
        width: 200px;
        padding: .6rem;
    }
}














@media (max-width: 1200px) {
    .hero-content{
        margin-top: 5rem;
    }
    html{
        font-size: 87%;
    }
    .hero-header-container .image-fade:before{
        height: 800px;
    }
}






@media (max-width: 1050px) {
    html{
        font-size: 85%;
    }
    .hero-png img{
        margin-left: 0;
    }
    .hero-header-container .image-fade:before{
        height: 600px;
    }
}
@media (max-width: 991px) {
    html{
        font-size: 80%;
    }
    .menu-icon{
        display: inline-block;
    }
    .header .navigation{
        position: absolute;
        top: 10%;
        background: black;
        height: calc(100vh - 9.5rem);
        display: none;
    }

    .header .navigation.active{
       display: block;
       width: 100%;
       height: 100%;
    }

    .header .navigation a{
        display: block;
        margin: 1rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 920px) {
    
    .hero-buttons button:last-of-type {
        margin-left: 0;
    }
    .hero-text button{
        margin-top: 1rem;
    }

    
}

@media (max-width: 840px) {
    .hero-png{
        grid-column: 6/9;
        
    }
    .hero-text{
        font-size: 85%;
    }
    .hero-buttons{
        display: flex;
        flex-direction: column;
    }

    
    .footer-menu{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer-menu div{
        margin: 0 1.5rem;
    }
    

}

@media (max-width: 720px) {
    .hero-text{
        grid-column: 1/6;
    }
}


@media (max-width: 620px) {
    html{
        font-size: 75%;
    }
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .hero-png{
        display: none;
    }
    .hero-text{
        grid-column: 2/8;
        text-align: center;
    }
    .hero-buttons{
        align-items: center;
    }
    .hero-content{
        margin-top: 3rem;
    }
    .footer-menu div{
        margin: 0 1rem;
      
    }
    .copyright-section p{
        margin: auto;
    }
    
    
}

@media (max-width: 470px) {
    .hero-text{
        grid-column: 1/9;
        
    }
    .footer-menu div, .footer-menu ul{
        margin: 0 .5rem;
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }
    
}