@media (max-width: 991px) {
    html{
        font-size: 90%;
    }
}
@media (max-width: 991px) {
    .menu-icon{
        display: inline-block;
    }
    .header .navigation{
        position: absolute;
        top: 10%;
        background: black;
        height: calc(100vh - 9.5rem);
        display: none;
    }

    .header .navigation.active{
       display: block;
       width: 100%;
       height: 100%;
    }

    .header .navigation a{
        display: block;
        margin: 1rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {
    html{
        font-size: 80%;
    }
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .hero-png img{
        width: 20%;
    }
}