h4{
    font-family: $fontSecondary;
    font-size: 1.4rem;
}

h3{
    font-family: $fontSecondary;
    font-size: 1.6rem;
    color: $textColor;
    text-transform: capitalize;
    letter-spacing: 1px;
}
p{
    font-size: 1rem;
    color:  $smallHeaderColor;
    font-family: $fontHeadings;
}