$backgroundColor:#1d1d1d;
$textColor: #E8EDDF;
$hoverLinkColor: #F5CB5C;
$smallHeaderColor:#CFDBD5;
$thinGrayColor: #ffffff80;

$fontPrimary: 'Montserrat', sans-serif;
$fontHeadings: 'Open Sans', sans-serif;
$fontParagraphs: 'Noto Serif', serif;
$fontSecondary: 'Fira Sans', sans-serif;


$border: 1px solid rgba(255,255,255,.3);